.registerBody {
  align-items: center;
  background-color: #6c2c3c;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.registerForm {
  background-color: #a1a550;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.registerTitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.registerSubtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.registerInputContainerIc1 {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.registerInputContainerIc2 {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.registerInput {
  background-color: #3f5926;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.registerCut {
  background-color: #a1a550;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  width: 76px;
}

.registerCutShort {
  background-color: #a1a550;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  width: 50px;
}

.registerSubmit {
  background-color: rgb(22, 92, 0);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.registerSubmit:active {
  background-color: #06b;
}

p.danger {
  display: flex;
  color: red;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid red;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translate(320px, -180px);
  /* transform: translateY(-350px); */
}