.app-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  align-items: center;
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  text-decoration: none;
  margin: 15px;
  color: black;
}

.logoNav-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.access-container {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
}
