
.app-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  align-items: center;
  background-color: #ee93a4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 2px 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 15px;
  color: black !important;
}

.accountCircle {
  margin-right: 5px;
}

.logoNav-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.freshCookLogo{
  width: 40%;
  margin-left: 10px;

}

.access-container {
  display: flex;
  align-items: initial;
  justify-content: flex-end;
  list-style: none;
}

.item-container {
  display: flex;
  justify-content: space-around;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}