.container {
  width: 100%;
  height: 100%;
  background-color: #97b69e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
 margin: 5px;
 width: 80%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 justify-content: center;
}

.checkboxContainer {
  margin: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100px;
}

.input {
  background-color: #b7b9a6;
  color: floralwhite;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.button {
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  background-color: seagreen;
  color: floralwhite;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(89, 195, 135);
}