.homeContainer {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97vw;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 3%;
}

.newRecipeButtonContainer{
  display: flex;
  background-color: #b6a497;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right: -90px;
}

.newRecipeButton{
  color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.reloadButton {
  background-color: #b6a497;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.filters {
  display: flex;
  margin: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.cardsContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 5px;
}

